@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(fontiran.css);


.fa-num {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

body {
    background-color: theme('colors.slate.100');
}

.text-rtl {
    direction: rtl;
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */